<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/nikvi/" target="_blank">@nikvi</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/nikvi/" target="_blank">@nikvi</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/nikkivinayan" target="_blank">linkedin.com/in/nikkivinayan</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://www.nikvi.me/" target="_blank">nikvi.me</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> nikki dot vinayan at gmail dot com</p>
